<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Codecool Granny Shop</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <script src="/js/script.js" defer=""></script>


    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#" data-toggle="modal" data-target="#register-modal">Register</a></li>
                <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="modal fade" id="login-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Login to Your Account</h1><br></br>
            <form>
                <input type="text" name="user" placeholder="Username"></input>
                <input type="password" name="pass" placeholder="Password"></input>
                <input type="submit" name="login" class="login loginmodal-submit" value="Login"></input>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="register-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="registermodal-container">
            <h1>Register Yourself</h1><br></br>
            <form>
                <input type="text" name="user" placeholder="Your chosen username"></input>
                <input type="password" name="pass" placeholder="Your password">
                <input type="password" name="pass" placeholder="Your password again"></input>
                <input type="email" name="email" placeholder="Your e-mail address"></input>
                <input type="submit" name="register" class="register registermodal-submit" value="Register"/></input>
            </form>
        </div>
    </div>
</div>

<div class="jumbotron text-center">
    <h1>Codecool Granny Shop</h1>
    <div style="display: none">
        <div class="row">
            <h3 id="sum" class="col-sm-10 text-right" th:text="${'Sum: $' + Price }">Sum: 0</h3>
            <a href="/cart">
                <img class="col-sm-11 text-right" id="trolley" src="/img/trolley.png"/>
            </a>
        </div>
        <div th:if="${productAmount}>0">
            <h3 id="quantity" class="col-sm-10 text-right" th:text="${productAmount + ' item(s)'}">0 item</h3>
        </div>
        <div th:unless="${productAmount}>0">
            <h3 id="quantity" class="col-sm-10 text-right" th:text="'0 item(s)'">0 item</h3>
        </div>
        <div class="shop"></div>
    </div>


</div>

<div class="container">

    <div th:each="category,iterStat : ${categories}">
        <div th:attr="id=${'category'+category.id}" class="well well-sm clickable-category">
            <strong th:text="${category.name}">Second Category</strong>
        </div>


        <div th:attr="id=${'productsOfCategory'+category.id}" class="row list-group">
            <div class ="col-xs-12 col-lg-12 filter_buttons">
                <button class="btn btn-info">All</button>
                <button class="btn btn-info" th:text="${supp.name}" th:each="supp, iterStat : ${category.getSuppliers()}">asd</button>
            </div>

            <div th:attr="id=${prod.id}, data-supplier=${prod.supplier.name}" class="item col-xs-4 col-lg-4 product" th:each="prod,iterStat : ${productDao.getBy(category)}">

                <div class="thumbnail">
                    <img class="group list-group-image mama" src="http://placehold.it/400x250/000/fff"
                         th:attr="src='/img/product_' + ${prod.id} + '.jpg'" alt=""/>
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                        <p class="group inner list-group-item-text" th:text="${prod.description}">Product
                            description... </p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <button class="btn btn-success add-to-cart-button" style="display: none">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<div th:replace="footer :: copy"></div>


<script src="https://code.jquery.com/jquery-3.2.1.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>



</body>
</html>