<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Codecool Shop</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <script src="/js/script.js" defer=""></script>

    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
</head>

<body>

<div class="jumbotron text-center">
    <h1>Codecool Shop</h1>
</div>

<div class="container">


    <div>
        <a id ="cart" href="/cart" class="btn btn-primary">View cart</a>
    </div>
    <div th:each="category,iterStat : ${categories}">
        <div th:attr="id=${'category'+category.id}" class="well well-sm clickable-category">
            <strong th:text="${category.name}">Second Category</strong>
        </div>

        <div th:attr="id=${'productsOfCategory'+category.id}" class="row list-group">
            <div>
                <div th:each="supp, iterStat : ${category.getSuppliers()}">
                    <button th:text="${supp.name}"></button>
                </div>
            </div>

            <div th:attr="id=${'product'+prod.id}" class="item col-xs-4 col-lg-4" th:each="prod,iterStat : ${category.getProducts()}">
                <div class="thumbnail">
                    <img class="group list-group-image" src="http://placehold.it/400x250/000/fff"
                         th:attr="src='/img/product_' + ${prod.id} + '.jpg'" alt=""/>
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                        <p class="group inner list-group-item-text" th:text="${prod.description}">Product
                            description... </p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success add-to-cart-button" href="/test">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div th:replace="footer :: copy"></div>

<script src="https://code.jquery.com/jquery-3.2.1.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


</body>
</html>